<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s27389.pcdn.co/wp-content/uploads/2018/11/tech-recruitment-e1542799077423-1001x440.jpeg);">
  <div class="container">
    <h1><u><strong>D</strong>e<strong>V</strong></u>elox! Your project up-and-running sooner than you imagined!</h1>
    <p></p>
    <p>If you're Developer, choose to work in projects that better suit your skills!</p>
  </div>
</div>

<div class="container flex-grow-1">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-7">
      <div class="banner-div">

        <h2 class="banner-heading pb-4"><strong>Accelerate your project development with the most prepared developers!</strong></h2>
        <h2 class="banner-heading">Receive proposals from for the best professionals and contract the one that better address your needs.</h2>
        
        <% if customer_signed_in? %>
          <%= link_to "Publish your Offer", customer_path(current_customer), class: "banner-button demo text-white " %>
        <% else %>
          <%= link_to "Publish your Offer", new_customer_session_path, class: "banner-button demo text-white " %>
        <% end %>
        
        <% if developer_signed_in? %>
          <%= link_to "Developers Page", developer_path(current_developer), class: "banner-button demo text-white " %>
        <% else %>
          <%= link_to "Developers Page", new_developer_session_path, class: "banner-button demo text-white " %>
        <% end %>
      </div>
    </div>
    <div class="home-image col-12 col-md-3 col-lg-5">
    </div>  
  </div>
</div>

