.home-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ0P0Az-pxk24GtC8I8xVgdj7Ezunri3fI1A&usqp=CAU");
  background-color: #e7e3e3;
  background-size:cover;
  margin-top: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;;
}