.login {
  background-image: url("https://files.techmahindra.com/static/img/hi-tech-enterprise-smart-assistant.jpg");
  background-position: center;
  color: black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-int {
  padding-bottom: 100px;
  h2 {
    font-family: 'Share Tech Mono', monospace;
  }
}
