
.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(220, 220, 220, 0.883);
  height: 40px;
  padding: 0px 80px;
  h1 {
    font-family: 'Share Tech Mono', monospace;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 100px;
  color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
}

.fa-home {
  color: black;
  text-shadow: 1px 1px 2px gray;
  padding: 0px 50px;
  font-size: 20px;
}

.avatar {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  border-radius: 50%;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

