.signup {
  margin-bottom: 50px;
  background-image: url("https://files.techmahindra.com/static/img/hi-tech-enterprise-smart-assistant.jpg");
  background-position: center;
}

.signup-int {
  padding-bottom: 50px;
  color: white;
}