.signup {
  background-image: url("https://files.techmahindra.com/static/img/hi-tech-enterprise-smart-assistant.jpg");
  background-position: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-int {
  color: black;
  margin-bottom: 50px;
  h2 {
    font-family: 'Share Tech Mono', monospace;
  }
}